* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(101, 101, 253);
}

.pageHeader {
    background-color: rgb(157, 157, 229);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 15px 1px rgb(96, 96, 145)
}

.pageHeader>img {
    width: 45px;
}

.pageNav>a {
    color: black;
    text-decoration: none;
    margin-right: 6px;
    font-weight: 700;
}

.menuBtn {
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.show {
    transform: translateX(0) !important;
}

@media (max-width: 768px) {
    .menuBtn {
        display: block;
    }

    .pageNav {
        position: fixed;
        min-height: 100vh;
        top: 0;
        left: 0;
        background-color: rgb(157, 157, 229);
        box-shadow: 0px 4px 15px 1px rgb(96, 96, 145);
        display: flex;
        flex-direction: column;
        width: 240px;
        padding: 25px;
        transform: translateX(-260px);
        transition: 0.5s;
        margin-top: 91px;
    }

    .pageNav>a {
        margin: 20px 0;
        border-bottom: 1px solid rgb(104, 104, 151);
        padding-bottom: 8px;
    }
}